extends ../layouts/default

block content
	section.sliderHome: .text-center 
			div.sliderPortfolio
				div.slider1: .sliderBackground 
					p.portfolioUrl.rainbowUrl(data-text='http://rainbow6.ubi.com/')
					.imageContainer
						img(src='/images/portfolio/rainbowsix.jpg')
				div.slider2: .sliderBackground
					p.portfolioUrl.justUrl(data-text='http://just-dance.ubi.com/en-us/')
					.imageContainer
						img(src='/images/portfolio/justdance.jpg')
				div.slider3: .sliderBackground 
					p.portfolioUrl.avilaUrl(data-text='http://avilawebfirm.com')
					.imageContainer
						img(src='/images/portfolio/avilawebfirm.jpg')
	section.twetts: .container
			div.col-md-4.text-center
				a.twitter-timeline(href='https://twitter.com/ctoveloz', data-widget-id='551526830986231810') Tweets por el @ctoveloz.
			div.col-md-4.text-center
				.gitrepo-container
					.github-repo(data-repo='ctoveloz/cristianoMatos')
					.github-repo(data-repo='ctoveloz/Digital-Smile-Wordpress')
					.github-repo(data-repo='ctoveloz/LsUrban')
					.github-repo(data-repo='ctoveloz/GeniusInteractive')
					.github-repo(data-repo='Podcasapp-Accedo')
			div.col-md-4.text-center
				section#coderbits(data-coderbits-username='ctoveloz')
				<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/cristianoveloz" data-format="inline" data-width="260" data-related="false"></script>
	section.odesk: .container.text-center
		p "Him works like a charm. Understand exactly the proposal of work and do it so fast. I'm very satisfied to have contract your services."

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/JedWatson/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
