#header {
	margin-top: 30px;
}

.sliderHome{
	background-image: url(../images/backgroundSlider.jpg);
	min-height: 0;
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	padding: 200px 0;
}

.twetts{
	background-image: url(../images/twettesBackground.jpg);
	min-height: 0;
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	padding: 200px 0;
}
.twetts .container-twetts{
	background: red;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
