@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'bebas_neueregular';
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}



#header {
	background: #222;
	position: fixed;
	z-index: 1;
	width: 100%;
	border-bottom: 1px #fc0 solid;
	margin-top: -71px;

	.navbar-default{
		background: none;
		border: none;
		margin-bottom: 0;
		padding: 10px 0;
	
		.navbar-brand{
			color: #fc0;
			font-size: 30px;
			padding-top: 6px;

			  &:before {
			    content:'[';
			    position:absolute;
			    left: -6px;
			    line-height:40px;
			  }
			  &:after {
			    content:']';
			    position:absolute;
			    left: 231px;
			    line-height:40px;
			  }
			  &:after, &:before {
			    color: white;
			    font-size:42px;
			    animation:2s linear 0s normal none infinite opacity;
			    -webkit-animation:2s ease-out 0s normal none infinite opacity;
			    -moz-animation:2s ease-out 0s normal none infinite opacity;
			    -o-animation:2s ease-out 0s normal none infinite opacity;
			  }

			.visible{
				  float: left;
				  font-weight:600;
				  overflow:hidden;
				  height:40px;  

				  p{

					  display:inline;
					  float:left;
					  margin:0;
					  margin-top: 10px;
				  }

					ul {
					  margin-top:0;
					  padding-left:103px;
					  text-align: center;
					  list-style:none;
					  animation:12s linear 0s normal none infinite change;
					  -webkit-animation:12s linear 0s normal none infinite change;
					  -moz-animation:12s linear 0s normal none infinite change;
					  -o-animation:12s linear 0s normal none infinite change;
					}

					ul li {
					  line-height:40px;
					  margin:0;
					}
			}

		}
	}

	.navbar-nav{
		li{
			a{
				font-size: 19px;
				padding: 15px 0 5px 0;
				margin: 0 12px;

				&:hover{
					color: #FFFFFF;
					border-bottom: 3px #fc0 solid;
				}
			}

			button{
				padding: 4px 10px 2px 10px;
				font-size: 19px;
				margin: 6px 12px 0 12px;
				background: #7cc576;
				color: #fff;
				border: 1px solid #46963f;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0px 5px 0px #46963f;
				-moz-box-shadow: 0px 5px 0px #46963f;
				-ms-box-shadow: 0px 5px 0px #46963f;
				-o-box-shadow: 0px 5px 0px #46963f;
				box-shadow: 0px 5px 0px #46963f;
				text-shadow: 1px 1px 1px #46963f;
				outline: none;

				&:active{
					position: relative;
					top: 5px;
					-webkit-box-shadow: none !important;
					-moz-box-shadow: none !important;
					-ms-box-shadow: none !important;
					-o-box-shadow: none !important;
					box-shadow: none !important;
				}
			}
		}
	}
}

.totalme{
  background-image: url(http://res.cloudinary.com/hsnbgtcq2/image/upload/v1433955399/agoravai3_ixirfn.jpg);
  background-color: #a48502;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 71px;
  background-position: top center;

	.faceContainer{

	  position: absolute;
	  top: ~"calc(52% - 285px)";
	  left: ~"calc(50% - 293px)";

		img{
		  width: 20%;
		  margin-top: 194px;
		  border-radius: 50%;
		  transform: rotate(-30deg);
		  border: 2px black solid;
		  background-color: white;
		  padding: 4px;
		}

		h2{
			color: white;
  			text-shadow: 3px 0px 1px rgba(0, 0, 0, 1);
  			margin-bottom: 0;
		}

		p{
			color: white;
			text-shadow: 3px 0 1px #000;
			font-size: 24px;
			font-size: 20px;
		}
	}
}

.sliderHome{
	background-image: url(http://res.cloudinary.com/hsnbgtcq2/image/upload/v1420661513/cristianomatos-images/rainbowBackground.jpg);
	background-color: #222;
	min-height: 0;
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	padding: 100px 0 0;
	transition: all 0.3s;
	border-bottom: 1px #95a5a6 solid;
}

.portfolioUrl{
	font-family: sans-serif;
	position: absolute;
	top: 29px;
	margin-left: -346px;
	font-size: 13px;
	color: black;
}

.sliderBackgroundJustDance{
	background-image: url(../images/justdanceBackground.jpg);
}


.twetts{
	padding: 80px 0;
	 background-color: #222;
	  width: 100%;
	  background-image: url(http://res.cloudinary.com/hsnbgtcq2/image/upload/v1420663013/cristianomatos-images/social-background.png);
	  background-position: 0px 0px;
	  -webkit-animation: animatedBackground 100s linear infinite;
	  animation: animatedBackground 100s linear infinite;

	#___person_0 iframe {
	   border-radius: 10px;
	}

}

.odesk{
	background-image: url(http://res.cloudinary.com/hsnbgtcq2/image/upload/v1420661513/cristianomatos-images/odesk-background.jpg);
	min-height: 0;
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	padding: 70px 0;

	.testimonial{

		blockquote{
		  margin: 10px 10px 0;
		  background: rgba(138, 138, 138, 0.72);
		  padding: 20px 60px;
		  position: relative;
		  border: none;
		  border-radius: 8px;
		  font-style: italic;
		  font-family: serif;
		  color: white;
		}
	}

	.testimonial blockquote:before, .testimonial blockquote:after {
		content: "\201C";
		position: absolute;
		font-size: 80px;
		line-height: 1;
		color: #fff;
		font-style: normal;
	}

	.testimonial blockquote:before {
		top: 0;
		left: 10px;
	}

	.testimonial blockquote:after {
		content: "\201D";
		right: 10px;
		bottom: -.5em;
	}
}

.sliderBackground{
	background: url(../images/frameslider.png);
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 910px;
	display: inline-block;

	.imageContainer{
		margin-top: 51px;
		height: 405px;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 907px;
	}
}

.twetts .container-twetts{
	background: red;
}

.github-repo{
	margin-bottom: 10px;
}

.gitrepo-container{
	height: 315px;
	overflow: hidden;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.responsive{
	background-color: #f4f4f4;
	min-height: 0;
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	padding: 40px 0;

	h2{
		color: #4183C4;
		font-size: 65px;
		margin-bottom: 25px;
	}

	p{
		font-size: 18px;
		line-height: 25px;
		width: 650px;
		display: inline-block;
		font-family: sans-serif;
	}

	.resize-box{
		margin-top: 45px;
	}

}


// Media Queries

 @media (max-width: 1170px){
 	.sliderBackground{
 		width: 88%;

 		.imageContainer{
 			width: 99.6%;
 		}
 	}
 }


// Keyframes

@-webkit-keyframes opacity {
	0%   {opacity:0;}
	50%  {opacity:1;}
	100% {opacity:0;}
}
@keyframes opacity {
	0%   {opacity:0;}
	50%  {opacity:1;}
	100% {opacity:0;}
}

@-webkit-keyframes change {
	0%   {margin-top:0;}
	15%  {margin-top:0;}
	25%  {margin-top:0;}
	40%  {margin-top:0;}
	50%  {margin-top:-40px;}
	65%  {margin-top:-40px;}
	75%  {margin-top:-80px;}
	85%  {margin-top:-80px;}
	100% {margin-top:0;}
}
@keyframes change {
	0%   {margin-top:0;}
	15%  {margin-top:0;}
	25%  {margin-top:0;}
	40%  {margin-top:0;}
	50%  {margin-top:-40px;}
	65%  {margin-top:-40px;}
	75%  {margin-top:-80px;}
	85%  {margin-top:-80px;}
	100% {margin-top:0;}
}

@-webkit-keyframes animatedBackground {
  0% {    background-position: 0 0; }
  100% {    background-position: 0 100%; } }

@keyframes animatedBackground {
  0% {    background-position: 0 0; }
  100% {    background-position: 0 100%; } }